body{
    background-color: rgb(106, 116, 112);
    height: 100%;
    width:1000px;
    margin: 50px 140px;
}
.table
{
    background-color: beige;
    align-content: center;
}
h1
{
 text-align: center;   
 background-color: rgb(174, 145, 201);
}